@import url('./loading');

@primary: #E9545E;
html, body {
	height: 100%;
}
body {
	padding: 0;
	margin: 0;
	background: #fff;
	font-size: 14px;
	-webkit-overflow-scrolling: touch;
	&.loading {
		background: @primary;
		header {
			display: none;
		}
		.swiper-container {
			display: none;
			opacity: .6;
			-webkit-filter:blur(5px);
		}
	}
}
img {
	display: block;
	width: 100%;
}
h1, p {
	margin: 0;
}
h1 {
	text-align: center;
	font-weight: normal;
	font-size: 24px;
}
[data-dpr="2"] h1 {font-size: 48px;}
[data-dpr="3"] h1 {font-size: 72px;}

/**
 * nav style
 */
.sprite-s_logo {
    width: 4.426667rem;
    height: 0.56rem;
    background-position: -0.066667rem -0.066667rem;
}

.sprite-s_menu {
    width: 0.84rem;
    height: 0.56rem;
    background-position: -4.62rem -0.066667rem;
}

.sprite-s_pic1_QA {
    width: 0.373333rem;
    height: 0.386667rem;
    background-position: -5.6rem -0.066667rem;
    // width: 28px;
    // height: 29px;
    // background-image: url('/images/spritesheet.png');
    // background-position: -420px -5px; 
}

.sprite-s_pic2_QA {
    width: 0.3rem;
    height: 0.25rem;
    background-position: -6.106667rem -0.066667rem;
 	// width: 21px;
	// height: 18px;
	// background-image: url('/images/spritesheet.png');
	// background-position: -458px -5px; 
}

.sprite-s_pic1_ab {
    width: 4.333333rem;
    height: 0.88rem;
    background-position: -5.6rem -0.586667rem;
}

.sprite-s_pic1_app {
    width: 3.786667rem;
    height: 7.753333rem;
    background-position: -0.066667rem -1.6rem;
}

.sprite-s_pic1_index1 {
    width: 4.986667rem;
    height: 1.653333rem;
    background-position: -3.986667rem -1.6rem;
}

.sprite-s_pic1_index2 {
    width: 4.96rem;
    height: 1.32rem;
    background-position: -3.986667rem -3.386667rem;
}

.sprite-s_pic1_index3 {
    width: 2.373333rem;
    height: 0.92rem;
    background-position: -4.1rem -4.84rem;
}

.sprite-s_pic2_ab {
    width: 0.666667rem;
    height: 0.64rem;
    background-position: -9.106667rem -1.6rem;
}

.sprite-s_pic2_index2 {
    width: 4.373333rem;
    height: 7.786667rem;
    background-position: -10.066667rem -0.066667rem;
}

.sprite-s_pic3_ab {
    width: 0.666667rem;
    height: 0.64rem;
    background-position: -3.986667rem -7.986667rem;
}

.sprite-s_pic4_ab {
    width: 0.666667rem;
    height: 0.64rem;
    background-position: -4.786667rem -7.986667rem;
}

.sprite-s_pic5_ab {
    width: 2.066667rem;
    height: 2.026667rem;
    background-position: -5.586667rem -7.986667rem;
}

.sprite-s_pic6_ab {
    width: 1.96rem;
    height: 2.253333rem;
    background-position: -7.786667rem -8.186667rem;
}

.sprite {
	display: block;
	background-image: url('/images/spritesheet.png');
	background-repeat: no-repeat;
	background-size: 14.506667rem 10.306667rem;
}

header {
	nav {
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		z-index: 2;
		.menu-bar {
			height: 1.2rem;
			border-bottom: 1px solid rgba(0,0,0,.3);
			background: rgba(0,0,0,.8);
			.logo {
				float: left;
				margin-left: 0.506667rem;
				margin-top: 0.266667rem;
			}
			.btn-menu {
				width: 0.7rem;
				float: right;
				margin: 0.32rem 0.373333rem 0 0 ;
				padding: 0;
				border: none;
				text-indent: -9999px;
				background-color: transparent;
				&:focus {
					outline: none;
				}
				&:active {
					box-shadow: 0 0 5px #fff;
				}
			}
		}
		ul {
			height: 0;
			opacity: 0;
			list-style: none;
			padding: 0;
			margin: 0;
			background-color: rgba(0,0,0,.8);
			transition: all .25s ease;
			overflow: hidden;
			&.show {
				height: 1.2rem * 5;
				opacity: 1;
			}
		}
		.menu-ul {
			li {
				a {
					display: block;
					margin-left: 0.2rem;
					padding-left: 0.4rem;
					height: 1.186667rem;
					line-height: 1.186667rem;
					border-bottom: 1px solid rgba(242,242,242,.3);
					text-decoration: none;
					color: #fff;
					font-size: 12px;
					&:active {
						background-color: rgba(5,110,140,.2);
					}
				}
				&:last-child a{
					border: none;
				}
			}
		}
	}
}

[data-dpr="2"] header nav .menu-ul li a{font-size: 24px;}
[data-dpr="3"] header nav .menu-ul li a{font-size: 36px;}
/* nav style end */

/* swiper init style */
.swiper-container {
	height: 100%;
	.swiper-slide {
		height: 100%;
		overflow: auto;
	}
	.swiper-pagination-bullet {
		width: 0.15rem;
		height: 0.15rem;
		border: 1px solid #fff;
		background: transparent;
		opacity: 1;
	}
	.swiper-pagination-bullet-active {
		background: #fff;
	}
}
.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 0.12rem;
}
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
	bottom: 0.133333rem;
}

/* index swiper */
.section-index-w {
	.btn-know-more {
		display: block;
		margin: 0 auto;
		width: 2.64rem;
		height: 0.64rem;
		line-height: 0.64rem;
		border: 1px solid #fff;
		text-decoration: none;
		text-align: center;
		color: #fff;
		&:focus {
			outline: none;
		}
		&:active {
			@c: #f2f2f2;
			border: 1px solid @c;
			color: @c;
		}
	}
	.index1 {
		background: url('/images/pic1_index1.jpg') no-repeat center;
		i {
			margin: 7.506667rem auto 0.36rem;
		}
		.btn-download {
			display: block;
			width: 3.48rem;
			height: 0.666667rem;
			line-height: 0.65rem;
			margin: 0 auto;
			border: 1px solid #fff;
			background: transparent;
			text-decoration: none;
			text-align: center;
			color: #fff;
			transition: all .2s ease;
			&:focus {
				outline: none;
			}
			&:active {
				border: 1px solid @primary;
				color: @primary;
			}
		}
	}
	.index2 {
		background-color: @primary;
		i:first-child {
			margin: 2.186667rem auto 0.666667rem;
			& + i {
				margin-left: 4.15rem;
				margin-bottom: 0.96rem;
			}
		}
		.pic3_index2 {
			position: absolute;
			width: 2.8rem;
			height: 1.506667rem;
			top: 7.233333rem;
			left: 1.2rem;
			color: #f2f2f2;
		}
		.btn-know-more {
			text-align: center;
		}
	}
	.index3 {
		background: url('/images/pic1_index2.jpg') no-repeat center;
		img {
			width: 4.666667rem;
			height: 2.44rem;
			margin-top: 3.84rem;
			margin-left: 0.986667rem;
			margin-bottom: 0.5rem;
		}
		.btn-know-more {
			margin-left: 1.066667rem;
		}
	}
	.swiper-slide {
		position: relative;
		background-size: 100% 100%;
	}
}

/* homer app style*/
.section-app-w {
	p, .type {
		font-size: 10px;
		text-align: center;
	}
	.item {
		.type  {
			width: 1.76rem;
			height: 0.6rem;
			margin: 0.4rem auto 0.4rem;
			line-height: 0.65rem;
			border-radius: 0.4rem;
			color: #fff;
			overflow: hidden;
			&1 {
				background: @primary;
			}
			&2 {
				background: #DD9509;
			}
			&3 {
				background: #0ABFB3;
			}
			&4 {
				background: #05C405;
			}
		}
		p {
			color: #6a6a6a;
		}
	}
	.item1 {
		position: relative;
		.tip {
			position: absolute;
			right: 1.066667rem;
			bottom: 1.56rem;
			width: 2.373333rem;
			overflow: hidden;
			color: #fff;
			i {
				margin-bottom: 0.266667rem;
			}
			p {
				clear: both;
				margin: 0;
				text-align: inherit;
				font-size: 9px;
				&:last-child {
					font-size: 6px;
				}
			}
		}
	}
	.item2 {
		margin: 1.16rem 0.6rem 1.466667rem 0.6rem;
		h1 {
			margin-bottom: 0.386667rem;
		}
		p {
			margin-bottom: 0.4rem;
		}
	}
	.item3 {
		margin: 0 2.2rem 1.426667rem;
		h1 {
			margin-bottom: 0.613333rem;
		}
	}
	.item4 {
		margin: 0 1.68rem 1.066667rem 1.68rem;
		h1 {
			margin-bottom: 0.733333rem;
		}
		i {
			margin: 0 auto;
		}
		.swiper-w {
			position: relative;
			margin-bottom: 0.666667rem;
		}
		.swiper-app-container {
			position: absolute;
			top: 0.906667rem;
			left: 50%;
			margin-left: -1.68rem;
			width: 3.36rem;
			height: 5.933333rem;
			background: #fff;
			.swiper-slide {
				overflow: hidden;
			}
		}
		.des {
			line-height: 1.3;
		}
		.des2 {
			padding: 0 1.12rem;
		}
		.des3 {
			span {
				display: block;
			}
		}
	}
	.item5 {
		margin-bottom: 0.5rem;  
		h1, p {
			margin-bottom: 0.333333rem;
		}
		span {
			display: inline-block;
		}
		.img-w {
			padding: 0 0.35rem 0 0.46rem;
		}
		.type-w {
			display: -webkit-flex;
			display: flex;
			align-items: center;
			display: -webkit-box; 
			-webkit-box-align: center;
			> div {
				-webkit-flex: 1;
				flex: 1;
				-webkit-box-flex: 1;
				text-align: center;
			}
		}
	}
}

[data-dpr="2"] .section-app-w p, 
[data-dpr="2"] .section-app-w .type {font-size: 20px;}
[data-dpr="3"] .section-app-w p, 
[data-dpr="3"] .section-app-w .type {font-size: 30px;}

[data-dpr="2"] .section-app-w .item1 .tip p {font-size: 18px;}
[data-dpr="3"] .section-app-w .item1 .tip p {font-size: 27px;}

[data-dpr="2"] .section-app-w .item1 .tip p:last-child {font-size: 12px;}
[data-dpr="3"] .section-app-w .item1 .tip p:last-child {font-size: 18px;}

/* homer lock style*/
.section-lock-w {
	@bg: #c4c5c4;
	// h1 居中，p左对齐h1
	.wc1 {
		text-align: center;
		.wc2 {
			display: inline-block;
			h1 {
				display: inline-block;
			}
			p {
				text-align: left;
			}
			a {
				text-align: left;
			}
		}
	}
	.item1 {
		padding-top: 3.0rem;
		padding-bottom: 1.6rem;
		background: @bg;
		.swiper-slide {
			text-align: center;
			img {
				display: inline-block;
				width: 6.253333rem;
				height: 5.56rem;
			}
		}
		h1 {
			padding: 1.92rem 0 0.653333rem 0;
		}
		p {
			// width: 5.5rem;
			// margin: 0 auto;
			text-align: left;
			span {
				display: block;
				padding-bottom: 0.2rem;
			}
		}
	}
	.item2 {
		height: 15.0rem;
		img {
			margin-top: 4rem;
			margin-bottom: 3rem;
		}
		h1 {
			margin-bottom: 0.706667rem;
		}
		p {
			text-align: center;
			span {
				display: block;
				padding-bottom: 0.2rem;
			}
		}
	}
	.item3 {
		padding-top: 3.2rem;
		padding-bottom: 2.026667rem;
		background: @bg;
		img {
			margin: 0 auto 2rem;
			width: 80%;
		}
		h1 {
			margin: 0 auto 0.5rem;
		}
		p {
			// width: 6rem;
			// margin: 0 auto;
			// text-align: left;
			font-size: 11px;
			span {
				display: block;
				padding-bottom: 5px;
			}
			margin-bottom: 0.4rem;
		}
		a {
			display: block;
			// width: 6rem;
			// margin: 0 auto;
			text-decoration: none;
			font-size: 15px;
			font-weight: normal;
			color: #000;
		}
	}
	.item4 {
		padding-bottom: 4rem;
		p {
			text-align: center;
			font-size: 17.5px;
		}
		p:first-child {
			padding-top: 6.226667rem;
			padding-bottom: 0.626667rem;
			& + p {
				padding-bottom: 1.186667rem;
			}
		}

		a {
			display: block;
			width: 5.44rem;
			height: 1.36rem;
			margin: 0 auto 0.573333rem;
			line-height: 1.36rem;
			text-align: center;
			text-decoration: none;
			font-size: 20px;
			border: 1px solid #000;
			color: #000;
		}
	}
}
[data-dpr="2"] .section-lock-w .item3 p {font-size: 22px;}
[data-dpr="3"] .section-lock-w .item3 p {font-size: 33px;}

[data-dpr="2"] .section-lock-w .item3 a {font-size: 30px;}
[data-dpr="3"] .section-lock-w .item3 a {font-size: 45px;}

[data-dpr="2"] .section-lock-w .item4 p {font-size: 35px;}
[data-dpr="3"] .section-lock-w .item4 p {font-size: 42.5px;}

[data-dpr="2"] .section-lock-w .item4 a {font-size: 40px;}
[data-dpr="3"] .section-lock-w .item4 a {font-size: 60px;}

/* about us style */
.section-ab-w {
	h2 {
		margin: 0;
		font-weight: normal;
	}
	p {
		color: #6a6a6a;
	}
	.item {
		padding: 0 0.626667rem;
		clear: both;
	}
	.item i {
		display: inline-block;
		vertical-align: -0.16rem;
	}
	.item1 {
		img {
			width: 80%;
			margin: 1.76rem auto 0.653333rem;
		}
		i {
			margin: 0 auto 2rem;
		}
	}
	.item2 {
		margin-bottom: 2.226667rem;
		h2 {
			margin-bottom: 0.2rem;
		}
		p {
			text-indent: 2em;
			line-height: 1.5;
		}
	}
	.item3 {
		margin-bottom: 1.68rem;
		h2 {
			margin-bottom: 0.96rem;
		}
		.mes {
			clear: both;
			overflow: auto;
			p {
				line-height: 1.3;
			}
		}
		.i1 {
			width: 1.84rem;
			height: 1.84rem;
			background: url('/images/s_pic5_ab.jpg') no-repeat;
			background-size: contain;
		}
		.i2 {
			width: 1.84rem;
			height: 1.84rem;
			background: url('/images/s_pic6_ab.jpg') no-repeat;
			background-size: contain;
		}
		.mes1 {
			margin-bottom: 0.413333rem;
			i {
				float: left;
			}
			p {
				padding-left: 2.1rem;
				text-indent: 2em;
			}
		}
		.mes2 {
			i {
				float: right;
			}
			p {
				padding-right: 2rem;
				text-indent: 2em;
			}
		}
		
	}
	.item4 {
		overflow: auto;
		padding-right: 0;
		margin-bottom: 0.666667rem;
		h2 {
			margin-bottom: 0.64rem;
		}
		.way {
			float: left;
			color: #6a6a6a;
			span {
				display: block;
				&:first-child {
					padding-bottom: 0.24rem;
				}
			}
			&.c1 {
				width: 48%;
				padding-right: 2%;
			}
			&.c2 {
				width: 50%;
			}
		}
	}
}

/* QA style */
.section-qa-w {
	margin: 2.266667rem 0.853333rem 0.666667rem;
	h1 {
		margin-bottom: 0.44rem;
		text-align: left;
		i {
			display: inline-block;
			margin-right: 0.16rem;
		}
	}
	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}
	li {
		padding-bottom: 0.426667rem;
	}
	.qa-ul {
		.qa-ques {
			padding-bottom: 0.346667rem;
			span {
				display: inline-block;
				padding-right: 0.2rem;
			}
		}
		.qa-ans {
			padding-left: 0.426667rem;
			i {
				float: left;
				margin-top: 2px;
			}
			span {
				display: block;
				padding-left: 0.28rem + 0.16rem;
				font-size: 10px;
				line-height: 1.5;
			}
		}
	}
}
[data-dpr="2"] .section-qa-w .qa-ul .qa-ans span {font-size: 20px;}
[data-dpr="3"] .section-qa-w .qa-ul .qa-ans span {font-size: 30px;}
/* end */